In [3]:
import numpy as np
import pandas as pd

In [4]:
movie_ratings_data = pd.read_csv('../ml-1m/ratings.dat', names=['user_id', 'movie_id', 'rating', 'time'],
    engine='python', delimiter='::')

In [5]:
movie_ratings_data

         user_id  movie_id  rating       time
0              1      1193       5  978300760
1              1       661       3  978302109
2              1       914       3  978301968
3              1      3408       4  978300275
4              1      2355       5  978824291
5              1      1197       3  978302268
6              1      1287       5  978302039
7              1      2804       5  978300719
8              1       594       4  978302268
9              1       919       4  978301368
10             1       595       5  978824268
11             1       938       4  978301752
12             1      2398       4  978302281
13             1      2918       4  978302124
14             1      1035       5  978301753
15             1      2791       4  978302188
16             1      2687       3  978824268
17             1      2018       4  978301777
18             1      3105       5  978301713
19             1      2797       4  978302039
20             1      2321       3  978302205
21             1       720       3  978300760
22             1      1270       5  978300055
23             1       527       5  978824195
24             1      2340       3  978300103
25             1        48       5  978824351
26             1      1097       4  978301953
27             1      1721       4  978300055
28             1      1545       4  978824139
29             1       745       3  978824268
...          ...       ...     ...        ...
1000179     6040      2762       4  956704584
1000180     6040      1036       3  956715455
1000181     6040       508       4  956704972
1000182     6040      1041       4  957717678
1000183     6040      3735       4  960971654
1000184     6040      2791       4  956715569
1000185     6040      2794       1  956716438
1000186     6040       527       5  956704219
1000187     6040      2003       1  956716294
1000188     6040       535       4  964828734
1000189     6040      2010       5  957716795
1000190     6040      2011       4  956716113
1000191     6040      3751       4  964828782
1000192     6040      2019       5  956703977
1000193     6040       541       4  956715288
1000194     6040      1077       5  964828799
1000195     6040      1079       2  956715648
1000196     6040       549       4  956704746
1000197     6040      2020       3  956715288
1000198     6040      2021       3  956716374
1000199     6040      2022       5  956716207
1000200     6040      2028       5  956704519
1000201     6040      1080       4  957717322
1000202     6040      1089       4  956704996
1000203     6040      1090       3  956715518
1000204     6040      1091       1  956716541
1000205     6040      1094       5  956704887
1000206     6040       562       5  956704746
1000207     6040      1096       4  956715648
1000208     6040      1097       4  956715569

[1000209 rows x 4 columns]

In [4]:
movie_data = pd.read_csv('../ml-1m/movies.dat', names=['movie_id', 'title', 'genre'],
    engine='python', delimiter='::')

In [5]:
ratings_mat = np.ndarray(
    shape=(np.max(movie_ratings_data.user_id.values), np.max(movie_ratings_data.movie_id.values)),
    dtype=np.uint8)
ratings_mat[movie_ratings_data.user_id.values-1, movie_ratings_data.movie_id.values-1] = movie_ratings_data.rating.values

In [6]:
ratings_mat.shape

(6040, 3952)

In [7]:
ratings_mat.shape

(6040, 3952)

In [8]:
normalised_mat = ratings_mat - np.asarray([(np.mean(ratings_mat, 1))]).T

In [124]:
A = normalised_mat.T / np.sqrt(ratings_mat.shape[0] - 1)
U, S, V = np.linalg.svd(A, full_matrices = False)

In [125]:
def top_cosine_similarity(data, movie_id, top_n=10):
    index = movie_id - 1 # Movie id starts from 1
    movie_row = data[index, :]
    magnitude = np.sqrt(np.einsum('ij, ij -> i', data, data))
    similarity = np.dot(movie_row, data.T) / (magnitude[index] * magnitude)
    sort_indexes = np.argsort(-similarity)
    return sort_indexes[:top_n]

# Helper function to print top N similar movies
def print_similar_movies(movie_data, movie_id, top_indexes):
    print('Recommendations for {0}: \n'.format(
    movie_data[movie_data.movie_id == movie_id].title.values[0]))
    for id in top_indexes + 1:
        print(movie_data[movie_data.movie_id == id].title.values[0])

In [126]:
U.shape

(3952, 3952)

In [127]:
V.shape

(3952, 6040)

In [128]:
S.shape

(3952,)

In [13]:
k = 10
movie_id = 0 # Grab an id from movies.dat
top_n = 10

sliced = U[:, :k] # representative data
indexes = top_cosine_similarity(sliced, movie_id, top_n)
indexes
# print_similar_movies(movie_data, movie_id, indexes)

array([3951, 2685, 3175, 2332, 2907, 2335, 3892, 3565, 3184, 3077])

In [14]:
print(ratings_mat[2685][0:100])

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [15]:
ratings_mat[0:].shape

(6040, 3952)

In [16]:
ratings_mat

array([[5, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [3, 0, 0, ..., 0, 0, 0]], dtype=uint8)

In [115]:
index = 0
user_row = ratings_mat[index, :]
top_indexes = np.argsort(predict[0])[::-1]

In [116]:
for id in top_indexes[:10] + 1:
        print(movie_data[movie_data.movie_id == id].title.values[0])

Heat (1995)
Sudden Death (1995)
Postino, Il (The Postman) (1994)
GoldenEye (1995)
Waiting to Exhale (1995)
Friday (1995)
Mr. Wrong (1996)
Assassins (1995)
How to Make an American Quilt (1995)
Georgia (1995)

In [7]:
user_row_reshaped = np.zeros(3952).reshape(1,3952)
user_row_reshaped[0,0] = 5

In [10]:
user_row_reshaped

array([[5., 0., 0., ..., 0., 0., 0.]])

In [106]:
def query(q,V):
    #find q*v, w
    prd=np.dot(q,V)
    Vt=np.transpose(V)
    other=np.dot(prd,Vt)
    return other

In [117]:
predict = np.dot(user_row_reshaped,U)

In [118]:
predict

array([[-8.47053764e+00, -1.29701053e+00, -1.68704034e+00, ...,
         2.69361131e-06, -2.55276403e-06, -9.73256536e-02]])

In [119]:
top_indexes = np.argsort(predict[0])[::-1]

In [120]:
top_indexes

array([ 5,  8, 57, ..., 14,  4,  0])

In [121]:
movie_ratings_sorted

In [122]:
for id in top_indexes[:10] + 1:
        print(movie_data[movie_data.movie_id == id].title.values[0])

Heat (1995)
Sudden Death (1995)
Postino, Il (The Postman) (1994)
GoldenEye (1995)
Waiting to Exhale (1995)
Friday (1995)
Mr. Wrong (1996)
Assassins (1995)
How to Make an American Quilt (1995)
Georgia (1995)

In [31]:
V.shape

(6040, 6040)

In [67]:
U.shape

(3952, 3952)

In [37]:
S

array([2.01680812e+01, 8.62790194e+00, 7.39264526e+00, ...,
       1.46912634e-15, 1.46912634e-15, 1.11368253e-15])

In [69]:
S[0]

20.168081247879016